body {
  background-color: #333333;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "lato", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#brand-logo {
  height: 64px;
}

h4 {
  font-family: "lato";
  font-weight: 300;
}

p {
  font-family: "lato";
  font-weight: 400;
}

input[type=text]{
  color: white;
}